body {
    background-color: #f0f2f5;
    font-family: Arial, Helvetica, sans-serif;
}

*{
    box-sizing: border-box;
padding: 0;
margin:0;
}

.logo {
    text-align: center;
    color: #1877f2;
    font-size: 48px;
    margin-top: 80px;
}

.login-box {
    background-color: white;
    width: 380px;
    margin: 20px auto;
    padding: 25px;
    border-radius: 8px;
    text-align: center;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);


}

.login-box h2 {
    margin-bottom: 30px;
    font-size: 16px;
    font-weight: normal;
}

.login-box input {
    width: 100%;
    padding: 12px;
    margin-bottom: 12px;
    border: 1px solid #ddd;
    border-radius: 6px;
    font-size: 14px;
}

.login-box button {
    width: 100%;
    padding: 12px;
    background-color: #1877f2;
    color: white;
    border: none;
    border-radius: 6px;
    font-size: 16px;
}

div.links a{

color: #1877f2;
font-size: 12px;
line-height: 48px;
}